{% extends "base.html" %}

{%block title%} "Change Exercise Plan" {%endblock%}

{%block body%} 
<div class="column is-4 is-offset-4">
    <h3 class="title">Change Exercise Plan</h3>
    <br>
    <h3 class="title">Add Workout</h3>
    <div class="box">
        <form method="POST" action="/changeexerciseplan">
            <div class="field">
                <div class="control">
                    {{addWForm.aWcircuitid(class="input is-large", placeholder="Circuit Id", autofocus="")}}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{addWForm.aWname(class="input is-large", placeholder="Workout Name", autofocus="")}}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{addWForm.aWrepetitions(class="input is-large", placeholder="Repetitions", autofocus="")}}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{addWForm.aWduration(class="input is-large", placeholder="Duration", autofocus="")}}
                </div>
            </div>
            {{addWForm.csrf_token}}
            {{addWForm.aWsubmit(class="button is-block is-info is-large is-fullwidth")}}
        </form>
    </div>
    <h3 class="title">Remove Workout</h3>
    <div class="box">
        <form method="POST" action="/changeexerciseplan">
            <div class="field">
                <div class="control">
                    {{removeWForm.rWid(class="input is-large", placeholder="Workout Id", autofocus="")}}
                </div>
            </div>
            {{removeWForm.csrf_token}}
            {{removeWForm.rWsubmit(class="button is-block is-info is-large is-fullwidth")}}
        </form>
    </div>
    <br>
    <h3 class="title">Add Circuit</h3>
    <div class="box">
        <form method="POST" action="/changeexerciseplan">
            <div class="field">
                <div class="control">
                    {{addCForm.aCclientid(class="input is-large", placeholder="Client Id", autofocus="")}}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{addCForm.aCday(class="input is-large", placeholder="Day", autofocus="")}}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{addCForm.aCname(class="input is-large", placeholder="Name", autofocus="")}}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{addCForm.aCrepetitions(class="input is-large", placeholder="Repetitions", autofocus="")}}
                </div>
            </div>
            {{addCForm.csrf_token}}
            {{addCForm.aCsubmit(class="button is-block is-info is-large is-fullwidth")}}
        </form>
    </div>
    <h3 class="title">Remove Circuit</h3>
    <div class="box">
        <form method="POST" action="/changeexerciseplan">
            <div class="field">
                <div class="control">
                    {{removeCForm.rCid(class="input is-large", placeholder="Circuit Id", autofocus="")}}
                </div>
            </div>
            {{removeCForm.csrf_token}}
            {{removeCForm.rCsubmit(class="button is-block is-info is-large is-fullwidth")}}
        </form>
    </div>
</div>

{%endblock%}
