{% extends "base.html" %}

{%block title%} "Change Diet" {%endblock%}

{%block body%}
<div class="column is-4 is-offset-4">
    <h3 class="title">Change Diet</h3>
    <br>
    <h3 class="title">Add Food</h3>
    <div class="box">
        <form method="POST" action="/changediet">

            <div class="field">
                <div class="control">
                    {{addFoodForm.clientid(class="input is-large", placeholder="Client Id", autofocus="")}}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{addFoodForm.day(class="input is-large", placeholder="Food Day")}}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{addFoodForm.name(class="input is-large", placeholder="Food Name")}}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{addFoodForm.quantity(class="input is-large", placeholder="Food Quantity (g)")}}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{addFoodForm.calories(class="input is-large", placeholder="Food calories (kcal)")}}
                </div>
            </div>
            {{addFoodForm.csrf_token}}
            {{addFoodForm.submit(class="button is-block is-info is-large is-fullwidth")}}
        </form>
    </div>
    <br>
    <h3 class="title">Remove Food</h3>
    <div class="box">
        <form method="POST" action="/changediet">

            <div class="field">
                <div class="control">
                    {{removeFoodForm.id(class="input is-large", placeholder="Food Id", autofocus="")}}
                </div>
            </div>
            {{removeFoodForm.csrf_token}}
            {{removeFoodForm.submit(class="button is-block is-info is-large is-fullwidth")}}
        </form>
    </div>
</div>
{%endblock%}