{%extends "base.html"%}

{%block title%} Circuit {%endblock%}

{%block body%} 
<h1 class="title">
    Exercise Plan : Felipe
</h1>
<h1 class="title">
    Day : Monday
</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Repetitions</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <td>
                <a class="button is-info" href="{{ url_for('workout') }}">
                    Aerobical
                </a>
            </td>
            <td>
                3
            </td>
            <td>
                15:00
            </td>
        </tr>
        <tr>
            <th>2</th>
            <td>
                <a class="button is-info" href="{{ url_for('workout') }}">
                    Leg
                </a>
            </td>
            <td>
                5
            </td>
            <td>
                20:00
            </td>
        </tr>
    </tbody>
</table>

{%endblock%}
