{%extends "base.html"%}

{%block title%} Circuit {%endblock%}

{%block body%}
<h1 class="title">
    Exercise Plan : {{name}}
</h1>
<h1 class="title">
    Day : {{day}}
</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Repetitions</th>
        </tr>
    </thead>
    <tbody>
        {%for circuit in data%}
        <tr>
            <th>{{circuit[0]}}</th>
            <td>
                <form action="workout?id={{circuit[0]}}" method="POST">
                    <input class="button is-info" type="submit" name="test" value={{circuit[1]}}  />
                </form>
            </td>
            <td>{{circuit[2]}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>

{%endblock%}