{%extends "base.html"%}

{%block title%} Delete Register {%endblock%}

{%block body%} 
<div class="column is-4 is-offset-4">
    <h3 class="title">Delete Register</h3>
    <div class="box">
        <form method="POST" action="/deleteregister">
            <div class="field">
                <div class="control">
                    {{form.id(class="input is-large", placeholder="Code of the User to Delete", autofocus="")}}
                </div>
            </div>
            {{form.csrf_token}}
            {{form.submit(class="button is-block is-info is-large is-fullwidth")}}
        </form>
    </div>
</div>
{%endblock%}
