{%extends "base.html"%}

{%block title%} Exercise Plan {%endblock%}

{%block body%} 
<h1 class="title">
    Exercise Plan : Felipe
</h1>
<div class="columns">
    <div class="column">
        <a class="button is-info is-large" href="{{ url_for('circuit') }}">
            Sunday
        </a>
    </div>
    <div class="column">
        <a class="button is-info is-large" href="{{ url_for('circuit') }}">
            Monday
        </a>
    </div>
    <div class="column">
        <a class="button is-info is-large" href="{{ url_for('circuit') }}">
            Tuesday
        </a>
    </div>
    <div class="column">
        <a class="button is-info is-large" href="{{ url_for('circuit') }}">
            Wednesday
        </a>
    </div>
    <div class="column">
        <a class="button is-info is-large" href="{{ url_for('circuit') }}">
            Thursday
        </a>
    </div>
    <div class="column">
        <a class="button is-info is-large" href="{{ url_for('circuit') }}">
            Friday
        </a>
    </div>
    <div class="column">
        <a class="button is-info is-large" href="{{ url_for('circuit') }}">
            Saturday
        </a>
    </div>
</div>

{%endblock%}
