{%extends "base.html"%}

{%block title%} Exercise Plan {%endblock%}

{%block body%} 
<h1 class="title">
    Exercise Plan : {{name}}
</h1>
<div class="columns">
    <div class="column">
        <form action="circuit?day=0" method="POST">
            <input class="button is-info is-large" type="submit" name="test" value="Sunday" />
        </form>
    </div>
    <div class="column">
        <form action="circuit?day=1" method="POST">
            <input class="button is-info is-large" type="submit" name="test" value="Monday" />
        </form>
    </div>
    <div class="column">
        <form action="circuit?day=2" method="POST">
            <input class="button is-info is-large" type="submit" name="test" value="Tuesday" />
        </form>
    </div>
    <div class="column">
        <form action="circuit?day=3" method="POST">
            <input class="button is-info is-large" type="submit" name="test" value="Wednesday" />
        </form>
    </div>
    <div class="column">
        <form action="circuit?day=4" method="POST">
            <input class="button is-info is-large" type="submit" name="test" value="Thursday" />
        </form>
    </div>
    <div class="column">
        <form action="circuit?day=5" method="POST">
            <input class="button is-info is-large" type="submit" name="test" value="Friday" />
        </form>
    </div>
    <div class="column">
        <form action="circuit?day=6" method="POST">
            <input class="button is-info is-large" type="submit" name="test" value="Saturday" />
        </form>
    </div>
</div>

{%endblock%}
