{%extends "base.html"%}

{%block title%} Manage Appointments {%endblock%}

{%block body%}
<div class="column is-4 is-offset-4">
    <h3 class="title">Manage appointment</h3>
    <div class="box">
        <form method="POST" action="/manageappointment">
            <div class="field">
                <div class="control">
                    {{form.personalid(class="input is-large", placeholder="Personal Id", autofocus="")}}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{form.time(class="input is-large", placeholder="Time", autofocus="")}}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{form.date(class="input is-large", placeholder="Date", autofocus="")}}
                </div>
            </div>
            {{form.csrf_token}}
            {{form.submit(class="button is-block is-info is-large is-fullwidth")}}
        </form>
    </div>
</div>

<a class="button is-info is-large" href="{{ url_for('times') }}">
    Appointments
</a>

{%endblock%}