{%extends "base.html"%}

{%block title%} Manager {%endblock%}

{%block body%} 
<h1 class="title">
    Welcome {{name}}
</h1>
<a class="button is-info is-large" href="{{ url_for('manageappointment') }}">
    Manage Appointments
</a>
<a class="button is-info is-large" href="{{ url_for('deleteregister') }}">
    Delete Register
</a>
<a class="button is-info is-large" href="{{ url_for('changeexerciseplan') }}">
    Change Exercise Plan
</a>
<a class="button is-info is-large" href="{{ url_for('changediet') }}">
    Change diet
</a>

<br><br>
<h1 class="title">
    Get User Information about Exercise Plan
</h1>

<form method="POST" action="/profile">
    <div class="field">
        <div class="control">
            {{exerForm.idExer(class="input is-large", placeholder="User Code", autofocus="")}}
        </div>
    </div>
    {{exerForm.csrf_token}}
    {{exerForm.submitExer(class="button is-block is-info is-large is-fullwidth")}}
</form>

<br><br>
<h1 class="title">
    Get User Information about Diet
</h1>
<form method="POST" action="/profile">
    <div class="field">
        <div class="control">
            {{dietForm.idDiet(class="input is-large", placeholder="User Code", autofocus="")}}
        </div>
    </div>
    {{dietForm.csrf_token}}
    {{dietForm.submitDiet(class="button is-block is-info is-large is-fullwidth")}}
</form>

{%endblock%}
