
{%extends "base.html"%}

{%block title%} Manage Appointments {%endblock%}

{%block body%} 
<div class="column is-4 is-offset-4">
    <h3 class="title">Manage appointment</h3>
    <div class="box">
        <form method="POST" action="/schedule">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="number" name="personalid"
                        placeholder="Personal Id" autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="time" name="time"
                        placeholder="Time" autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="date" name="date"
                        placeholder="Date" autofocus="">
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Submit</button>
        </form>
    </div>
</div>

<a class="button is-info is-large" href="{{ url_for('times') }}">
    Appointments
</a>

{%endblock%}
