{%extends "base.html"%}

{%block title%} Schedule {%endblock%}

{%block body%} 
<div class="column is-4 is-offset-4">
    <h3 class="title">Schedule an Appointment</h3>
    <div class="box">
        <form method="POST" action="/schedule">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="number" name="appointment id"
                        placeholder="Appointment Id" autofocus="">
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Submit</button>
        </form>
    </div>
</div>
<a class="button is-info is-large" href="{{ url_for('times') }}">
    Schedule Times
</a>

{%endblock%}