{%extends "base.html"%}

{%block title%} Sign up {%endblock%}

{%block body%} 
<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up</h3>
    <div class="box">
        <form method="POST" action="/signup">
            <div class="field">
                <div class="control">
                    {{form.email(class="input is-large", placeholder="Your Email", autofocus="")}}
                </div>
            </div>

            <div class="field">
                <div class="control">
                    {{form.name(class="input is-large", placeholder="Your Name", autofocus="")}}
                </div>
            </div>

            <div class="field">
                <div class="control">
                    {{form.weight(class="input is-large", placeholder="Weight (Kg)", autofocus="")}}
                </div>
            </div>

            <div class="field">
                <div class="control">
                    {{form.height(class="input is-large", placeholder="Height (cm)", autofocus="")}}
                </div>
            </div>


            <div class="field">
                
                <div class="control">
                <b>Sex: </b>
                    {% for subfield in form.sex %}
                        <label class="radio">
                            {{ subfield }}
                            {{ subfield.label.text }}
                        </label>
                    {% endfor %}
                </div>
            </div>

            <div class="field">
                <div class="control">
                    {{form.password(class="input is-large", placeholder="Password", autofocus="")}}

                </div>
            </div>

            <div class="field">
                <div class="control">
                    {{form.confirmPassword(class="input is-large", placeholder="Confirm Password", autofocus="")}}
                </div>
            </div>
            {{form.csrf_token}}
            {{form.submit(class="button is-block is-info is-large is-fullwidth")}}
        </form>
    </div>
</div>

{%endblock%}
