{%extends "base.html"%}

{%block title%} Times {%endblock%}

{%block body%} 
<h1 class="title">
    Schedule of appointments
</h1>
<table class="table">
    <tr>
        <th>Appointment ID</th>
        <th>Client Code</th>
        <th>Personal Code</th>
        <th>Date</th>
        <th>Time</th>
    </tr>
    {%for time in data%} 
        <tr>
            <td>{{time[0]}}</td>
            <td>{{time[1]}}</td>
            <td>{{time[2]}}</td>
            <td>{{time[3]}}</td>
            <td>{{time[4]}}</td>
        </tr>
    {%endfor%} 
</table>

{%endblock%}
