{%extends "base.html"%}

{%block title%} Workout {%endblock%}

{%block body%} 
<h1 class="title">
    Exercise Plan : Felipe
</h1>
<h1 class="title">
    Day : Monday
</h1>
<h1 class="title">
    Circuit : Aerobical
</h1>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Repetitions</th>
        <th>Duration</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Burpee</td>
        <td>20</td>
        <td>2:00</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Jumping Back</td>
        <td>50</td>
        <td>1:00</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Jump Rope</td>
        <td>100</td>
        <td>2:00</td>
    </tr>
</table>

{%endblock%}
