{%extends "base.html"%}

{%block title%} Workout {%endblock%}

{%block body%} 
<h1 class="title">
    Exercise Plan : {{name}}
</h1>
<h1 class="title">
    Day : {{day}}
</h1>
<h1 class="title">
    Circuit : {{circuit}}
</h1>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Repetitions</th>
        <th>Duration</th>
    </tr>
    {%for workout in data%} 
        <tr>
            <td>{{workout[0]}}</td>
            <td>{{workout[1]}}</td>
            <td>{{workout[2]}}</td>
            <td>{{workout[3]}}</td>
        </tr>
    {%endfor%} 
</table>

{%endblock%}
