<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask Auth Example</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</head>

<body>
    <section class="hero is-primary is-fullheight">

        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{ url_for('profile') }}" class="navbar-item">
                                Profile
                            </a>
                            <a href="{{ url_for('logout') }}" class="navbar-item">
                                Logout
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                    Exercise Plan : Felipe
                </h1>
                <h1 class="title">
                    Day : Monday
                </h1>
                <h1 class="title">
                    Circuit : Aerobical
                </h1>
                <table class="table">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Repetitions</th>
                        <th>Duration</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Burpee</td>
                        <td>20</td>
                        <td>2:00</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Jumping Back</td>
                        <td>50</td>
                        <td>1:00</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Jump Rope</td>
                        <td>100</td>
                        <td>2:00</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
</body>

</html>